<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

  	<p class="large-text">Edit Collection</p>

  	<%= form_for @collection do |f| %>

      <span>Name:</span>
      <%= f.text_field :name %>
        
      <span>Description:</span>
      <%= f.text_field :description %>

      <span>Genre:</span>
      <%= f.text_field :genre %>

	    <%= f.submit 'Update', class: 'button small radius secondary' %>

    <% end %>

    <p class="large-text">Photographs</p>

    <br/>
	  <%= link_to 'Back', collections_path %>
		<br/><br/>  

	</div>
</div>