<%= form_for invoice do |f| %>

  <div class="row">
    <div class="small-10 small-centered large-10 large-uncentered columns">
      <span>Description:</span>    
      <%= f.text_field :description %> 
      <span>Total Balance Due:</span>    
      <%= f.text_field :balance %>
      <span>Tax Rate (leave blank if default):</span>
      <%= f.text_field :tax_rate %>
      
      <!-- invoiceable params -->
      <%= f.hidden_field :invoiceable_id %>
      <%= f.hidden_field :invoiceable_type %>
    </div>
  </div>

  <!-- Submit -->

  <div class="row">
    <div class="small-10 small-centered large-10 large-uncentered columns">
      <br/><%= f.submit 'Add Invoice', class: 'button small radius secondary' %> 
    </div>
  </div>

<% end %>
