<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">
    
    <p class="large-text"><%= @invoice.description %></p>
    
    <p>
      <span><%= @user.name_primary %></span><br/>
      <span><%= @user.street_address %></span><br/>
      <span><%= @user.city %>, <%= @user.state %> <%= @user.zip_code %></span><br/>
    </p>
    
    <!-- rename table class to something more re-usable -->
    <table class="table-width-100">
      <thead>
        <tr>
          <th class="table-header-width-75">
            <span>Description</span>
          </th>
          <th class="table-header-width-25">
            <span>Price</span>
          </th>
        </tr>
      </thead>
      <tbody>
        

        
      </tbody>
    </table>
    
    <br/>
    <p>Balance due: <%= humanized_money_with_symbol(@invoice.balance) %></p>
    
    <br/>
    <%= link_to "Back", :back %>
    <br/><br/><br/>
    
  </div>
</div>
