<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">
    
    
    <% if current_user.admin? %>
      <p class="large-text">Update Invoice Details</p>
      <%= form_for @invoice do |f| %>
        <span>Description:</span><br/>
        <%= f.text_field :description %>
        <span>Balance:</span><br/>
        <%= f.text_field :balance %>
        <%= f.submit "Update", class: 'button small radius secondary' %>
        <%= link_to "Delete Invoice", @invoice, method: :delete, class: 'button small radius secondary', data: { confirm: "Are you sure you want to delete this invoice?" } %>
      <% end %>
    <% else %>
      <p class="large-text"><%= @invoice.description %></p>
    <% end %>

    
    <p>
      <span><%= @user.name_primary %></span><br/>
      <span><%= @user.street_address %></span><br/>
      <span><%= @user.city %>, <%= @user.state %> <%= @user.zip_code %></span><br/>
    </p>
    
    
    <!-- rename table class to something more re-usable -->
    <table class="table-width-100">
      <thead>
        <tr>
          <th class="table-header-width-75">
            <span>Description</span>
          </th>
          <th class="table-header-width-25">
            <span>Price</span>
          </th>
        </tr>
      </thead>
      <tbody>
        
        <!-- each block starts here for items -->
        <tr>
          <td>
            <span>Item description goes here</span>
          </td>
          <td>
            <span>Price</span>
          </td>
        </tr>
        <!-- each block ends here for items -->
        
        <tr>
          <td>
            <span class="right">Subtotal:</span><br/>
            <span class="right">Tax:</span><br/>
            <span class="right">Grand Total:</span><br/>
          </td>
          <td>
            <span>subtotal</span><br/>
            <span>tax</span><br/>
            <span>grandtotal</span><br/>
          </td>
        </tr>
        
      </tbody>
      <tfoot>
        <tr>
          <td>
            <span>Balance due:</span>
          </td>
          <td>
            <span><%= humanized_money_with_symbol(@invoice.balance) %></span>
          </td>
        </tr>
      </tfoot>
    </table>
    
    <br/>
    <% if current_user.admin? %>
      <%= link_to "Back", @parent_type %> | <%= link_to "Back to Client Index", users_path %>
    <% else %>
      <%= link_to "Back", :back %> | <%= link_to "Back to My Details", client_landing_path %>
    <% end %>
    <br/><br/><br/>
    
  </div>
</div>
