    
    <%= form_for user do |f| %>

      <p class="medium-text">Personal Details</p>

      <span>Primary contact (or Bride):</span>
      <%= f.text_field :name_primary %>

      <span>Secondary contact (or Groom):</span>
      <%= f.text_field :name_secondary %>

      <span>Street address:</span>
      <%= f.text_field :street_address %>

      <span>City/Town:</span>
      <%= f.text_field :city %>

      <span>State:</span>
      <%= f.text_field :state %>

      <span>Zip code:</span>    
      <%= f.text_field :zip_code %>

      <span>Country:</span>    
      <%= f.text_field :country %>

      <span>Home Phone:</span>    
      <%= f.text_field :phone_home %>

      <span>Cell Phone:</span>    
      <%= f.text_field :phone_cell %>

      <%= f.submit 'Update', class: 'button small radius secondary' %>

    <% end %>
  
