<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

    <p class="large-text">Add Client</p>

    <%= form_for @user do |f| %>

      <span>Client Name:</span>
      <%= f.text_field :client_name %>
        
      <span>Email:</span>
      <%= f.email_field :email %>

      <span>Primary contact (or Bride):</span>
      <%= f.text_field :name_primary %>

    <%= f.submit 'Add Client', class: 'button small radius secondary' %>

    <% end %>

    <br/>
    <p class="large-text">Client Index</p>

    <% @users.each do |user| %>
    
      <% unless user.admin? %> <!-- Do not display admin account -->
        <table class="table-width-100">
          <thead>
            <tr>
              <th class="table-header-width-100 clearfix">    
                <%= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure you want to delete client '#{user.client_name}'?" }, class: 'button tiny radius secondary right clear-margin clear-padding' %>
                <span><%= user.client_name %></span><br/>
                <span><%= user.email %></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <% unless user.invitations.last.nil? %>
                  <span class="subdued-text">Token: <%= user.invitations.last.token %></span>
                <% else %>
                  <%= link_to 'Send Invitation', send_invitation_path(user), data: { confirm: 'Are you sure you are ready to send the invitation?'} %>
                <% end %>
                <br/>
                <%= link_to "Edit Client Details", user %>    
              </td>
            </tr>

            <tr>
              <td>
                <% if user.wedding.nil? %>
                  <%= link_to 'Add Wedding', add_wedding_path(user) %>
                <% else %>
                  <span><strong>Wedding Photography Event:</strong></span><br/>
                  <span><%= link_to 'View/Edit Wedding Details', user.wedding %></span><br/>

                  <!-- Wedding Invoices -->
                  <% unless user.wedding.invoices.nil? %>
                    <br/><span><strong>Wedding Invoices:</strong></span><br/>
                    <% user.wedding.invoices.each do |invoice| %>
                      <%= link_to "#{invoice.description}", invoice %>

                      <!-- Determine if paid or balance due -->
                      <span class="label round info nudge-up-2"><%= invoice.balance > 0 ? "#{humanized_money_with_symbol(invoice.balance)}" : "Paid" %></span><br/>
                    <% end %>
                  <% end %>
                <% end %>   
              </td>
            </tr>

            <tr>
              <td>
                <!-- Portrait Sessions -->
                <%= link_to 'Add Portrait Session', new_portrait_path(user), class: 'button tiny radius secondary right' %>
                <span><strong>Portrait Sessions:</strong></span><br/>
                <% unless user.portraits.nil? %>
                  <% user.portraits.each do |portrait| %>

                    <%= link_to portrait.title, portrait %>
                    <%= link_to "X", portrait, method: :delete, class: 'label round nudge-up-2 secondary', data: { confirm: "Are you sure you want to delete this portrait session?" } %>
                    <br/>

                  <% end %>
                  <br/>
                  
                  <!-- Portrait Invoices -->
                  <br/><span><strong>Portrait Invoices:</strong></span><br/>

                <% end %>
              </td>
            </tr>

            <tr>
              <td>
                <!-- Web Galleries -->
                <span><strong>Web Galleries:</strong></span><br/>
                <% unless user.webgalleries.nil? %>
                  <% user.webgalleries.each do |webgallery| %>
                    <%= link_to webgallery.description, webgallery.url, target: "_blank" %>
                    <%= link_to "X", webgallery, method: :delete, class: 'label round nudge-up-2 secondary', data: { confirm: "Are you sure you want to delete this web gallery?" } %>
                    <br/>
                  <% end %>
                <% end %>

                <!-- Add new web gallery -->
                <%= form_for @webgallery do |f| %>
                  <br/><span>Description:</span>
                  <%= f.text_field :description %>
                  <span>URL:</span>
                  <%= f.text_field :url %>
                  <%= f.hidden_field :user, value: user.id %>
                  <%= f.hidden_field :genre, value: 'wedding' %>
                  <%= f.submit "Add Web Gallery", class: 'button tiny radius secondary right' %>
                <% end %>
              </td>
            </tr>

          </tbody>
        </table>
      <% end %>
    
    <% end %>
    
  </div>
</div>