<p class="large-text">Add Client</p>

<%= form_for @user do |f| %>

  <%= f.text_field :client_name, autofocus: true %>
  <br/>
  <span>Client Name</span>
  <br/>
  <%= f.email_field :email %>
  <br/>
  <span>Email</span>
  <br/>
  <%= f.text_field :name_primary %>
  <br/>
  <span>Primary contact (or Bride)</span>
  <br/><br/>
  <%= f.submit "Add Client" %>

<% end %>

<br/>
<p class="large-text">Client Index</p>

<% @users.each do |user| %>
  <%= link_to user.client_name, user %>
<% end %>