<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

    <p class="large-text">Add Client</p>

    <%= form_for @user do |f| %>

      <span>Client Name:</span>
      <%= f.text_field :client_name %>
        
      <span>Email:</span>
      <%= f.email_field :email %>

      <span>Primary contact (or Bride):</span>
      <%= f.text_field :name_primary %>

    <%= f.submit 'Add Client/Send Invite', class: 'button small radius secondary' %>

    <% end %>

    <br/>
    <p class="large-text">Client Index</p>

    <% @users.each do |user| %>
      <%= link_to user.client_name, user %>
       | 
      <% if user.wedding.nil? %>
        <%= link_to 'Add Wedding', add_wedding_path(user) %>
      <% else %>
        <span><%= link_to 'Wedding Details', wedding_path(user) %></span>
      <% end %>
       | 
      <%= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure you want to delete client '#{user.client_name}'?" } %>
      <br/><br/>
    <% end %>
    
  </div>
</div>