<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

    <p class="large-text">Add Client</p>

    <%= form_for @user do |f| %>

      <span>Client Name:</span>
      <%= f.text_field :client_name %>
        
      <span>Email:</span>
      <%= f.email_field :email %>

      <span>Primary contact (or Bride):</span>
      <%= f.text_field :name_primary %>

    <%= f.submit 'Add Client', class: 'button small radius secondary' %>

    <% end %>

    <br/>
    <p class="large-text">Client Index</p>

    <% @users.each do |user| %>
    
      <% unless user.admin? %>
        <table class="table-client-index">
          <thead>
            <tr>
              <th class="table-header-client-index clearfix">    
                <%= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure you want to delete client '#{user.client_name}'?" }, class: 'button tiny radius secondary right clear-margin clear-padding' %>
                <span><%= user.client_name %></span><br/>
                <span><%= user.email %></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <% unless user.invitations.last.nil? %>
                  <span>Token: <%= user.invitations.last.token %></span>
                <% else %>
                  <%= link_to 'Send Invitation', send_invitation_path(user), data: { confirm: 'Are you sure you are ready to send the invitation?'} %>
                <% end %>
                <br/>
                <%= link_to "Edit Client Details", user %>    
              </td>
            </tr>
            <tr>
              <td>
                <% if user.wedding.nil? %>
                  <%= link_to 'Add Wedding', add_wedding_path(user) %>
                <% else %>
                  <span><%= link_to 'Edit Wedding Details', wedding_path(user) %></span><br/>
                  <% unless user.wedding.invoice.nil? %>
                    <span>Balance due: $<%= user.wedding.invoice.balance %></span>
                  <% end %>
                <% end %>   
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    
    <% end %>
    
  </div>
</div>