<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">
    
    <p class="large-text">Account Setup Confirmation</p>
    
    <p>Please enter and confirm a password with a minimum of 8 characters to finish your account setup. Afterwards, you will be directed to the login page.<p>
    
    <%= form_for @user do |f| %>
    
        <%= f.text_field :client_name %>
    
        <span>Enter password:</span>
        <%= f.password_field :password, autocomplete: "off" %>

        <span>Confirm password:</span>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
    
    <%= f.submit 'Confirm', class: 'button small radius secondary' %>
    
    <% end %>
    
  </div>
</div>