<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

    <p class="large-text">My Details</p>
    
    <!-- Invitations/Temporary Password Checker -->
    <% if @user.invitations.count > 0 %> 
      <div data-alert class="alert-box alert">
        <p class="temp-password-text">Temporary Password Alert: You can change your password from the menu above. This message will disappear after your password has been changed.</p>
      </div> 
    <% end %>
    
    <!-- <p>Web Galleries</p> -->
    <% if @user.webgalleries.count > 0 %>
      <table class="table-width-100">
        <thead>
          <tr>
            <th class="table-header-width-100">
              <span>Web Galleries</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% @user.webgalleries.each do |webgallery| %>
                <%= link_to webgallery.description, webgallery.url, target: "_blank" %><br/>
              <% end %>
            </td>
          </tr>
        </tbody>  
      </table>
    <% end %>

    <!-- Personal Information -->
    <table class="table-width-100">
      <thead>
        <tr>
          <th class="table-header-width-100 clearfix">  
            <%= link_to 'Edit', @user, class: 'button tiny radius secondary right clear-margin clear-padding' %>
            <span>Personal Information</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>

            <span class="subdued-text"> <strong>Contacts:</strong> </span><br/>
            <span class="subdued-text"> <%= @user.name_primary %> </span><br/>
            <span class="subdued-text"> <%= @user.name_secondary %> </span><br/><br/>

            <span class="subdued-text"> <strong>Address:</strong> </span><br/>
            <span class="subdued-text"> <%= @user.street_address %> </span><br/>
            <span class="subdued-text"> <%= @user.city %>, <%= @user.state %> <%= @user.zip_code %> </span><br/>
            <span class="subdued-text"> <%= @user.country %> </span><br/><br/>

            <span class="subdued-text"> <strong>Email:</strong> </span><br/>
            <span class="subdued-text"> <%= @user.email %> </span><br/><br/>

            <span class="subdued-text"> <strong>Phone:</strong> </span><br/>
            <span class="subdued-text"> <%= @user.phone_home %> </span><br/>
            <span class="subdued-text"> <%= @user.phone_cell %> </span><br/><br/>
            
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Wedding Section -->
    <% unless current_user.wedding.nil? %>
    
      <table class="table-width-100">
        <thead>
          <tr>
            <th class="table-header-width-100 clearfix">  
              <%= link_to 'Edit', @user.wedding, class: 'button tiny radius secondary right clear-margin clear-padding' %>
              <span>Wedding Information</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>

              <!-- Wedding Information -->
              <span class="subdued-text"> <strong>Bride and Groom:</strong> </span><br/>
              <span class="subdued-text"> <%= @wedding.bride %> </span><br/>
              <span class="subdued-text"> <%= @wedding.groom %> </span><br/><br/>

              <span class="subdued-text"> <strong>Wedding Date:</strong> </span><br/>
              <span class="subdued-text"> <%= @wedding.date_wedding %> </span><br/><br/>

              <span class="subdued-text"> <strong>Getting Ready Details:</strong> </span><br/>
              <span class="subdued-text"> Start Time: <%= @wedding.time_getting_ready %> </span><br/>
              <span class="subdued-text"> Bride: <%= @wedding.location_getting_ready_bride %> </span><br/>
              <span class="subdued-text"> Groom: <%= @wedding.location_getting_ready_groom %> </span><br/><br/>

              <span class="subdued-text"> <strong>Ceremony Details:</strong> </span><br/>
              <span class="subdued-text"> Start Time: <%= @wedding.time_ceremony %> </span><br/>
              <span class="subdued-text"> Location: <%= @wedding.location_ceremony %> </span><br/><br/>

              <span class="subdued-text"> <strong>Formals Details:</strong> </span><br/>
              <span class="subdued-text"> Start Time: <%= @wedding.time_formals %> </span><br/>
              <span class="subdued-text"> Location: <%= @wedding.location_formals %> </span><br/><br/>

              <span class="subdued-text"> <strong>Reception Details:</strong> </span><br/>
              <span class="subdued-text"> Start Time: <%= @wedding.time_receptions %> </span><br/>
              <span class="subdued-text"> End Time: <%= @wedding.time_end %> </span><br/>
              <span class="subdued-text"> Location: <%= @wedding.location_reception %> </span><br/><br/>

              <span class="subdued-text"> <strong>Notes and Special Requests:</strong> </span><br/>
              <span class="subdued-text"> <%= @wedding.notes %> </span>
              
              <hr/>

              <!-- Wedding Invoices -->
              <% unless @wedding.invoices.nil? %>
                <span class="subdued-text"> <strong>Wedding Invoices:</strong> </span><br/>
                <% @wedding.invoices.each do |invoice| %>
                  <span class="subdued-text"> <%= link_to "#{invoice.description}", invoice %></span> 
                  <span class="label round info nudge-up-2"><%= invoice.balance > 0 ? "#{humanized_money_with_symbol(invoice.balance)}" : "Paid" %></span><br/>
                <% end %>
              <% end %>

              <hr/>

              <!-- Wedding Review -->
              <div ng-app="RatingApp">

                <span class="subdued-text"> <strong>Review:</strong> </span><br/>
                <% unless current_user.reviews.where( genre: 'wedding').count < 1 %>
                  <% current_user.reviews.each do |review| %>
                    <% if review.genre == 'wedding' %>
                      <div class="client-review-wrapper" ng-controller="RatingCtrl as star_ctrl">
                        <% (review.rating).times do |star| %>
                          <div class="star-rating star-class-on"></div>
                        <% end %>
                        <p><%= review.body %></p>
                        <%= link_to "Delete Review", review, class: 'button tiny radius secondary clear margin-left-5 review-button', method: :delete %>
                      </div>
                    <% end %>
                  <% end %>

                <!-- New Review Form -->
                <% else %>
                  <span>Let us know how we did!</span>
                  <div ng-controller="RatingCtrl as star_ctrl">
                    <%= form_for @review do |f| %>
                      <div class="star-rating {{ star_ctrl.star_class(1) }}" ng-click="star_ctrl.set_star_rating(1)"></div>
                      <div class="star-rating {{ star_ctrl.star_class(2) }}" ng-click="star_ctrl.set_star_rating(2)"></div>
                      <div class="star-rating {{ star_ctrl.star_class(3) }}" ng-click="star_ctrl.set_star_rating(3)"></div>
                      <div class="star-rating {{ star_ctrl.star_class(4) }}" ng-click="star_ctrl.set_star_rating(4)"></div>
                      <div class="star-rating {{ star_ctrl.star_class(5) }}" ng-click="star_ctrl.set_star_rating(5)"></div>
                      <%= f.text_area :body, rows: 4 %>
                      <%= f.hidden_field :genre, value: 'wedding' %>
                      <%= f.hidden_field :rating, value: '{{ star_ctrl.hidden_star }}' %>
                      <%= f.submit 'Add Review', class: 'button tiny radius secondary review-button' %>
                    <% end %>
                  <div ng-controller="RatingCtrl as star_ctrl">
                <% end %>

              </div>

            </td>
          </tr>
        </tbody>
      </table>      
    
    <% end %>

    <!-- Portrait Section -->
    <% unless current_user.portraits.nil? %>
    
      <table class="table-width-100">
        <thead>
          <tr>
            <th class="table-header-width-100 clearfix">
              <span>Portrait Sessions</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>

              <% current_user.portraits.each do |portrait| %>

                <%= link_to portrait.title, portrait %> - 
                <%= link_to 'Invoice', '#' %>
                <span class="label round info nudge-up-2">Paid</span>

              <% end %>

            </td>
          </tr>
        </tbody>
      </table>

    <% end %>

  </div>
</div>
