<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

    <p class="large-text">My Details</p>
    
    <!-- Invitations/Temporary Password Checker -->

    <% if @user.invitations.count > 0 %> 
      <div data-alert class="alert-box alert">
        <p class="temp-password-text">Temporary Password Alert: You can change your password from the menu above. This message will disappear after your password has been changed.</p>
      </div> 
    <% end %>
    
    <!-- <p>Web Galleries</p> -->

    <table class="table-width-100">
      <thead>
        <tr>
          <th class="table-header-width-100 clearfix">  
            <%= link_to 'Edit', @user, class: 'button tiny radius secondary right clear-margin clear-padding' %>
            <span>Personal Information</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>

            <span class="subdued-text"> <strong>Contacts:</strong> </span><br/>
            <span class="subdued-text"> <%= @user.name_primary %> </span><br/>
            <span class="subdued-text"> <%= @user.name_secondary %> </span><br/><br/>

            <span class="subdued-text"> <strong>Address:</strong> </span><br/>
            <span class="subdued-text"> <%= @user.street_address %> </span><br/>
            <span class="subdued-text"> <%= @user.city %>, <%= @user.state %> <%= @user.zip_code %> </span><br/>
            <span class="subdued-text"> <%= @user.country %> </span><br/><br/>

            <span class="subdued-text"> <strong>Email:</strong> </span><br/>
            <span class="subdued-text"> <%= @user.email %> </span><br/><br/>

            <span class="subdued-text"> <strong>Phone:</strong> </span><br/>
            <span class="subdued-text"> <%= @user.phone_home %> </span><br/>
            <span class="subdued-text"> <%= @user.phone_cell %> </span><br/><br/>
            
          </td>
        </tr>
      </tbody>
    </table>

    <% unless current_user.wedding.nil? %>
    
      <table class="table-width-100">
        <thead>
          <tr>
            <th class="table-header-width-100 clearfix">  
              <%= link_to 'Edit', @user.wedding, class: 'button tiny radius secondary right clear-margin clear-padding' %>
              <span>Wedding Information</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>

              <span class="subdued-text"> <strong>Bride and Groom:</strong> </span><br/>
              <span class="subdued-text"> <%= @wedding.bride %> </span><br/>
              <span class="subdued-text"> <%= @wedding.groom %> </span><br/><br/>

              <span class="subdued-text"> <strong>Wedding Date:</strong> </span><br/>
              <span class="subdued-text"> <%= @wedding.date_wedding %> </span><br/><br/>

              <span class="subdued-text"> <strong>Getting Ready Details:</strong> </span><br/>
              <span class="subdued-text"> Start Time: <%= @wedding.time_getting_ready %> </span><br/>
              <span class="subdued-text"> Bride: <%= @wedding.location_getting_ready_bride %> </span><br/>
              <span class="subdued-text"> Groom: <%= @wedding.location_getting_ready_groom %> </span><br/><br/>

              <span class="subdued-text"> <strong>Ceremony Details:</strong> </span><br/>
              <span class="subdued-text"> Start Time: <%= @wedding.time_ceremony %> </span><br/>
              <span class="subdued-text"> Location: <%= @wedding.location_ceremony %> </span><br/><br/>

              <span class="subdued-text"> <strong>Formals Details:</strong> </span><br/>
              <span class="subdued-text"> Start Time: <%= @wedding.time_formals %> </span><br/>
              <span class="subdued-text"> Location: <%= @wedding.location_formals %> </span><br/><br/>

              <span class="subdued-text"> <strong>Reception Details:</strong> </span><br/>
              <span class="subdued-text"> Start Time: <%= @wedding.time_receptions %> </span><br/>
              <span class="subdued-text"> End Time: <%= @wedding.time_end %> </span><br/>
              <span class="subdued-text"> Location: <%= @wedding.location_reception %> </span><br/><br/>

              <span class="subdued-text"> <strong>Notes and Special Requests:</strong> </span><br/>
              <span class="subdued-text"> <%= @wedding.notes %> </span><br/><br/>
              
              <% unless @wedding.invoices.nil? %>
                <span class="subdued-text"> <strong>Wedding Invoices:</strong> </span><br/>
                <% @wedding.invoices.each do |invoice| %>
                  <span class="subdued-text"> <%= link_to "#{invoice.description}", invoice %></span> 
                  <span class="label round info nudge-up-2"><%= invoice.balance > 0 ? "#{humanized_money_with_symbol(invoice.balance)}" : "Paid" %></span><br/>
                <% end %>
                <br/>
              <% end %>

            </td>
          </tr>
        </tbody>
      </table>      
    
    <% end %>

  </div>
</div>
