<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

  	<% if current_user.admin? %>

  		<!-- Admin -->
	  	<p class="large-text">Update Portrait Session</p>
	  	<%= render partial: 'portraitform', locals: { portrait: @portrait, user: @user } %>

  	<% else %>

  		<!-- Client -->
  		<p class="large-text"><%= @portrait.title %></p>
  		<p class="subdued-text nudge-up-10"><%= @portrait.description %></p>
  		<%= form_for @portrait do |f| %>
  			<span>Notes/Details:</span>
  			<%= f.text_area :notes, placeholder: 'Please enter any notes or details you have for us regarding this photo session.' %>
  			<%= f.submit 'Update', class: 'button small radius secondary' %>
  		<% end %>

		<% end %>

		<!-- Invoices -->
		<% if current_user.admin? %>
			<hr/>
			<p>Add Invoice</p>
			<%= render partial: 'invoices/invoiceinfo', locals: { invoice: @invoice, invoiceable_id: @portrait.id, invoiceable_type: @portrait.genre } %>
			<hr/>
		<% else %>
			<br/><span class="subdued-text nudge-up-10">Invoices:</span><br/>
			<% @invoices.each_with_index do |invoice, index| %>
				<% if index < @invoices.count %>
					<%= link_to invoice.description, invoice %>
					<span class="label round info nudge-up-2"><%= invoice.balance > 0 ? "#{humanized_money_with_symbol(invoice.balance)}" : "Paid" %></span><br/>
				<% end %>
			<% end %>
			<br/><br/>
		<% end %>


		<% if current_user.admin? %>
	  	<%= link_to 'Back', users_path %>
	  <% else %>
	  	<%= link_to 'Back', client_landing_path %>
	  <% end %>
	</div>
</div>
