<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

    <p class="large-text">Client Login</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <span>Email:</span>
        <%= f.text_field :email, autofocus: true %>
      </div>

      <div class="field">
        <span>Password:</p>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
          <%= f.submit "Log in", class: 'button small radius secondary' %>
      </div>
    <% end %>

    <!-- 
    Disable shared links for now < render "devise/shared/links" >
    -->

  </div>
</div>