<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">
    
    <!-- Wedding Details -->
    
    <%= render partial: 'weddinginfo', locals: { wedding: @wedding } %>
    
    <hr/>
    
    <!-- Invoices -->
    
    <% if current_user.admin? %>
      <p class="medium-text">Add Invoices</p>
      <%= render partial: 'invoices/invoiceinfo', locals: { invoice: @invoice, invoiceable_id: @wedding.id, invoiceable_type: @wedding.class.name } %>
    <% end %>
    
    <p class="medium-text">Invoices</p>
    
    <% @wedding.invoices.each_with_index do |invoice, index| %>
      <% if index < @wedding.invoices.count %>
        <%= link_to "#{invoice.description}", invoice %>
        <span class="label round info nudge-up-2"><%= invoice.balance > 0 ? "#{humanized_money_with_symbol(invoice.balance)}" : "Paid" %></span><br/>
      <% end %>
    <% end %>
    
    <br/><br/>
    
    <!-- Back -->
    
    <% if current_user.admin? %>
      <%= link_to 'Back to Client Index', users_path %>
    <% else %>
      <%= link_to 'Back', client_landing_path(current_user) %>
    <% end %>
    
    <br/><br/>
    
  </div>
</div>
