<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">
    
    <!-- Wedding Details -->
    
    <%= render partial: 'weddinginfo', locals: { wedding: @wedding } %>
    
    <hr/>
    
    <!-- Invoice -->
    
    <% if current_user.admin? %>
      <% if @wedding.invoice.nil? %>
        <%= render partial: 'invoices/invoiceinfo', locals: { invoice: @invoice, parent_type: "Wedding", parent_id: @wedding.id } %>
      <% else %>
        <%= render partial: 'invoices/invoiceinfo', locals: { invoice: @wedding.invoice, parent_type: "Wedding", parent_id: @wedding.id } %>
      <% end %>
    <% else %>
      <span>Balance due: <%= @wedding.invoice.nil? ? "0.00" : humanized_money_with_symbol(@wedding.invoice.balance) %></span><br/><br/>
      <% unless @wedding.invoice.nil? %>
        <%= link_to "Make payment", "#", class: 'button small radius secondary' %> <%= link_to "Invoice Details", @wedding.invoice, class: 'button small radius secondary' %>
      <% end %>
    <% end %>
    
    <br/><br/>
    
    <!-- Back -->
    
    <% if current_user.admin? %>
      <%= link_to 'Back to Client Index', users_path %>
    <% else %>
      <%= link_to 'Back', client_landing_path(current_user) %>
    <% end %>
    
    <br/><br/>
    
  </div>
</div>
