<script src="https://checkout.stripe.com/checkout.js"></script>

<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

	<p class="large-text">Payment</p>
	<p class="medium-text">
		<span><%= @invoice.description %></span><br/>
		<span class="subdued-text">Current payment amount: <span class="subdued-text" id="invoice_balance"><%= humanized_money_with_symbol(@invoice.payment) %></span></span>
	</p>

	<p>Ensure the payment amount above is correct, then click the button below. For other payment arrangements, please contact us at <a href="mailto:bteamphoto@gmail.com">bteamphoto@gmail.com</a>.</p>

	<%= form_tag create_charge_path(@invoice) do %>
   <script 
	class='stripe-button' src="https://checkout.stripe.com/checkout.js" 
	data-label="Confirm and Pay with Card"
   	data-allow-remember-me="false"
    data-key="<%= @stripe_btn_data[:key] %>"
    data-name="<%= @stripe_btn_data[:name] %>"
    data-description="<%= @stripe_btn_data[:description] %>"
    data-email="<%= @stripe_btn_data[:email] %>"
    data-amount=<%= @stripe_btn_data[:amount] %> >
 	</script>
 <% end %>

 </div>
</div>
