<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= helper_title_slogan %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
  <!-- Menu area -->
  <div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to helper_my_business_name, root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
            <% if current_user.admin? %>
              <li><%= link_to "Client Index", users_path %></li>
              <li><%= link_to "Manage Photos", collections_path %></li>
            <% else %>
              <li><%= link_to "My Details", client_landing_path %></li>
            <% end %>
          <% end %>
          <% if current_user %>
            <li><%= link_to "Change Password", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Client Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>

  
  <!-- Client login/out section -->


  <div class="body-container">
  
<!-- Disable alerts for now -->
    <% if flash[:notice] %> 
      <div data-alert class="alert-box secondary">
        <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
      </div> 
    <% elsif flash[:error] %>    
      <div data-alert class="alert-box alert">
        <%= flash[:error] %>
        <a href="#" class="close">&times;</a>
      </div>    
    <% elsif flash[:alert] %>
      <div data-alert class="alert-box alert">
        <%= flash[:alert] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>


    <%= yield %>
    
  </div>

</body>
</html>
