<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
    <!-- Menu area -->
    <%= link_to "B-Team Photography", root_path %>

    <% if current_user %>
      |
      <% if current_user.admin? %>
        <%= link_to "Client Index", users_path %>
      <% else %>
        <%= link_to "My Details", client_landing_path(current_user) %>
      <% end %>
    <% end %>

    |

    <!-- Client login/out section -->
    <% if current_user %>
      <%= link_to "Change Password", edit_user_registration_path %>
    |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Client Login", new_user_session_path %>
    <% end %>

    <div class="body-container">

  <!-- Disable alerts for now 
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
  -->

      <%= yield %>

    </div>

  </body>
</html>
